body, html,.gridContainer {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
.uli {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #140e35;
    }
.uli li{

    float: left;
}

li a:hover {
    background-color: #111111;
}
.uli li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}