
/*Container*/
.gridContainer{

    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 7% 1fr;
    grid-gap: 10px;
    background-color:rgb(233, 233, 251);
  padding: 10px;
    
}
.navHeader{

    
    grid-column: 2/6;
    grid-row: 1/2;
    color: black;
    background-color: white;
    padding: 1em;
    text-align: left;
    
}
.navHeader h1{

    float: right;
    margin: 0 auto;
    padding: 0;
}
.navHeader li{

    display: inline-block;
    
}


.sideNavigation{
    
    grid-column: 1/2;
    grid-row: 1/5;
    color: white;
    background-color: rgb(8, 8, 43);
    display: grid;
    grid-template-areas: "." "menu" ".";
    
    
   
    
    
}

.sideNavigation ul{

    grid-area: menu;
    display: grid;
    margin:0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". report ." ". statistics ." ". vizualizare .";
    

}
#report{

    grid-area: report;
}
#statistics{

    grid-area: statistics;
}
#vizualizare{

    grid-area: vizualizare;
}
.sideNavigation a{

    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    

}

.mainContent{

    
    grid-column: 2/6;
    grid-row: 2/5;
}

/*End grid model*/
