<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" type="text/css" href="../Content/get_statistics.css">
</head>

<body>

    <div class="grid-container">
        <div class="item1">
            <h3>
                <b>Choose the desire format </b>
            </h3>
        </div>

        <div class="form">

            <button>HTML</button>
            <button>CSV</button>
            <button>JSON</button>
            <button>PDF</button>

         </div>
   </div>
</body>

</html>