<!DOCTYPE html>
<html>

<head>

    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/headerStyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/newsfeed.css" />

    
    

</head>

<body>

    <nav role="navigation">
        <ul class="uli">
            <li>
                <a href="newsfeed.html">Home</a>
            </li>
            <li>
                <a href="Profile.html">Profile</a>
            </li>
            <li>
                <a href="Settings.html">Settings</a>
            </li>
            <li>
                <a href="default.html">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="gridContainer">
        <div class="reports">
            <h1 id="title">
                Reports
            </h1>
            <article role="article">
                <p>User x reports that romanians are migrating into the Savanas.</p>
            </article>
            <article role="article">
                <p>Syrians refugees are entering US.</p>
            </article>
            <article role="article">
                <p>London has registered a rise of anti emigration.People are running out of the streets.</p>
            </article>
            <article role="article">
                <p>Italian migrants in US don't know how to read.</p>
            </article>
            <article role="article">
                <p>Transilvania its romanian land.</p>
            </article>
            
        </div>

        <nav role="navigation" class="sideNavigation">
            <ul class="gridSidebar">
                <li id="report">
                    <a href="report.html">
                        Report
                    </a>
                </li>
                <li id="statistics">
                    <a href="Get_statistics.html">
                        Statistics
                    </a>
                </li>
                <li id="vizualizare">
                    <a href="#vizualizare">
                        Vizualizare
                    </a>
                </li>
            </ul>
        </nav>
        <div class="map">
        <p>Map</p>
        </div>
        <div class="interactions">
            <fieldset style="background:white">

            </fieldset>
        </div>
        <footer role="contentinfo" class="footerBar">
            <img src="../Content/rss.png" style="width:100px">
        </footer>
    </div>

</body>

</html>