<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../Content/register.css" />
    <title>Register</title>

    <script src="MVC/Scripts/register.js"></script>
    <script src="MVC/Scripts/countries.js"></script>
    <script src="MVC/Scripts/countries.json"></script>
    <script>
        console.log(countries)
        $(function () {
            $("#countries").autocomplete({
                source: countries
            });
        });
    </script>
</head>

<body>



    <ul>
        <li>
            <a href="newsfeed.html">Home</a>
        </li>
        <li>
            <a href="Profile.html">Profile</a>
        </li>
        <li>
            <a href="Settings.html">Settings</a>
        </li>
        <li>
            <a href="default.html">Logout</a>
        </li>
    </ul>

    <div class="grid-container">
        <div class="item1">
            <b>Register</b>
        </div>
    </div>

    <div class="container">
        <form>
            First name:
            <br>
            <input type="text" name="firstname" id="firstname-input" onkeyup="checkFname()">
            <br>
            <span id='message3'></span>
            <br> Last name:
            <br>
            <input type="text" name="lastname" id="lastname-input" onkeyup="checkLname()">
            <br>
            <span id='message4'></span>
            <br> Username:
            <br>
            <input type="text" name="username" id="username-input" onkeyup="validateForm()">
            <br> Password:
            <br>
            <input type="password" id="psw" name="psw" onkeyup="check()">
            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A
                    <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A
                    <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A
                    <b>number</b>
                </p>
                <p id="length" class="invalid">Minimum
                    <b>8 characters</b>
                </p>
            </div>
            <br> Confirm Password:
            <br>
            <input type="password" name="confirm password" id="cpsw-input" onkeyup="check()">
            <br>
            <span id='message2'></span>
            <br> Email:
            <br>
            <input type="text" name="email" id="email-input" onkeyup="validateForm()">
            <br> Country:
            <br>
            <input type="text" class="textInput" name="country" id="countries" onkeyup="validateForm()">
            <br> City:
            <br>
            <input type="text" name="city" id="city-input" onkeyup="validateForm()">
            <br>
            <p>Write a description about you.</p>
            <textarea name="message" rows="10" cols="50"></textarea>
            <br>
            <button id="btn1">Submit</button>
            <button id="btn2" href="Register.html">Reset</button>
        </form>
    </div>



    <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function () {
            document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function () {
            document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function () {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            // Validate length
            if (myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        }

        //var fn_value = document.getElementById("firstname-input").value;
        //var fn_length = fn_value.length;
        var ln_value = document.getElementById("lastname-input").value;
        var ln_length = ln_value.length;
        var username_value = document.getElementById("username-input").value;
        var email_value = document.getElementById("email-input").value;
        var country_value = document.getElementById("countries").value;
        submitOK = "true";
        var check = function () {
            if (document.getElementById("psw").value == document.getElementById("cpsw-input").value) {
                document.getElementById('message2').style.color = 'green';
                document.getElementById('message2').innerHTML = 'matching';
            } else {
                document.getElementById('message2').style.color = 'red';
                document.getElementById('message2').innerHTML = 'not matching';
            }

        }

        var checkLname = function () {
            if (isNaN(document.getElementById("lastname-input").value) == 0 || document.getElementById("lastname-input").value.length < 2 || document.getElementById("firstname-input").value.length > 10) {
                document.getElementById('message4').style.color = 'red';
                document.getElementById('message4').innerHTML = 'The nameshould be only from characters or in the interval (2,10)';
                submitOK = "false";
            }
            else {
                document.getElementById('message4').style.color = 'green';
                document.getElementById('message4').innerHTML = 'Valid';

            }

            if (submitOK == "false") {
                return false;
            }
        }
        var checkFname = function () {
            if (isNaN(document.getElementById("firstname-input").value) == 0 || document.getElementById("firstname-input").value.length < 2 || document.getElementById("firstname-input").value.length > 10) {
                document.getElementById('message3').style.color = 'red';
                document.getElementById('message3').innerHTML = 'The nameshould be only from characters or in the interval (2,10)';
                submitOK = "false";
            }
            else {
                document.getElementById('message3').style.color = 'green';
                document.getElementById('message3').innerHTML = 'Valid';

            }
            if (submitOK == "false") {
                return false;
            }
        }
    </script>




</body>

</html>