body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

div.container {
    display: inline-block;
    width: 10px;
    height: 80%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(9, 9, 42);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #111111;
}


.item2 {
    grid-area: menu;
    background-color: white;

}

.item3 {
    grid-area: main;
    color: white;
    border-radius: 20px;
    background-color: rgb(8, 8, 43);
    
}

.item4 {
    grid-area: right;
    color: white;
    border-radius: 20px;
    background-color: rgb(8, 8, 43);
}

.item5 {
    grid-area: footer;
    background-color: white;
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'menu menu menu menu main main' 'menu menu menu menu right right' 'menu menu menu menu right right' 'menu menu menu menu right right' 'menu menu menu menu footer footer' 'menu menu menu menu footer footer';

    grid-gap: 10px;
    background-color: rgb(233, 233, 251);
    padding: 10px;
    height: 100%;
}

.grid-container>div {
    display: grid;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}

.pac-controls {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input1,
#pac-input2 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 230px;

}

#pac-input1:focus,
#pac-input2:focus {
    border-color: #4d90fe;
}

.form input {
    font-family: Arial;
    outline: 0;
    background: lightgray;
    width: 150%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    position: relative;
    
}

 button {
    font-family: Arial;
    text-transform: uppercase;
    background:  rgb(121, 121, 194);
    cursor: pointer;
    width: 70%;
    height: 55%;
    max-width: 300px;
    border-radius: 10px;
    padding: 4px;
    color: #FFFFFF;
    font-size: 14px;
    margin-left:  20%;
    margin-top:20px;
   
}

#inputText1,
#inputText2 {

    background-color: rgba(237, 242, 244, 1);
    border: 2px solid rgba(141, 153, 174, 1);
    border-radius: 10px;
    max-width: 300px;

    margin: auto;
}

td {
    margin: auto;
    font-size: 20px;

}